body {
    background: lightgray;
}
ul > li {
    list-style: none;
}

.Results, .Inputs {
    margin-top: 3rem;
}

#outSidesContainer, #outAnglesContainer {
    margin-top: 1rem;
}

/*--------default_font--------*/
body {
    font: 1rem Ubuntu, sans-serif;
}

/*-----mobile_font-----*/

@media screen and (max-width:1199px){
    body{
        font-size: 2rem;
    }
    input {
        font-size: 2rem;
        max-width: 100%;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
      font-size: 2rem;  
    }
    
/*------mobile_spacing------*/
    .Inputs {
        margin-top: 0.5rem;
    }
}
