body {
    background: lightgray;
    font: 100% "Trebuchet MS", sans-serif;
    font-family: Verdana,Arial,sans-serif;
}
ul > li {
    list-style: none;
}

.Results, .Inputs {
    margin-top: 3rem;
}

#outSidesContainer, #outAnglesContainer {
    margin-top: 1rem;
}

/*--------default_font--------*/
/*
font-size{
    1rem;
}
h1 {
    font:3rem Trebuchet MS;
}
*/

/*-----mobile_font-----*/

@media screen and (max-width:1199px){
    body{
        font-size: 2rem;
    }
    input {
        font-size: 2rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h3 {
      font-size: 2.5rem;  
    }
}
