body {
    background: lightgray;
    font: 100% "Trebuchet MS", sans-serif;
    font-family: Verdana,Arial,sans-serif;
}
ul > li {
    list-style: none;
}

/*--------default_font--------*/
font-size{
    1rem;
}
h1 {
    font:1.5rem Trebuchet MS;
}

/*-----mobile-----*/
@media screen and (max-width:1199px){
    body{
        font-size: 2rem;
    }
    input {
        font-size: 2rem;
    }
}